body{
    font-family:roman, 'times new roman', times, serif;
}

h1{
    font-style: italic;
    font-weight:bold;
    margin: 32px;
    font-size:24pt;
}
h2{
    font-style: italic;
    margin: 32px;
}


img{
    padding: 32px;
    border-radius: 12px;
}

p{
    margin: 32px;
    font-size:18pt;
}
nav 
{
background-color: #332B13;
text-align: center; 
width: 100%; 
}       
    
nav div 
{
padding: 14px 20px; 
display: inline-block; 
}      
      
nav a 
{
font-size: 23px;
text-decoration: none;
color: #FFFF33;
}
        
nav div:hover 
{
background-color: #555; 
color: white; 
}